HelpDeskBot – Asistente Automatizado de Soporte Interno.json
{
  "name": "HelpDeskBot – Asistente Automatizado de Soporte Interno",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        0
      ],
      "id": "29c23650-c46b-4289-bb22-b5a3bfbb903c",
      "name": "Telegram Trigger",
      "webhookId": "5532f59b-4368-4915-bd7a-6caa96e055c9",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158553487,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=1158553487"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        0
      ],
      "id": "522be030-0082-4fab-98bf-1a997f7069d2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.chat.first_name }}, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        -1568
      ],
      "id": "3c358765-3f04-499e-b670-bd0e82085128",
      "name": "Send a text message",
      "webhookId": "a54983b7-a795-4044-8989-bea7c4ad7968",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158553487,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=1158553487"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $json.message.chat.id }}",
            "nombre": "={{ $json.message.chat.first_name }}",
            "rol": "admin"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -864,
        0
      ],
      "id": "3ce10fb3-946f-4d7e-9c59-4b128e8ba118",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        -224
      ],
      "id": "af306314-8ad1-41fd-ac12-b43fbf1dfbf7",
      "name": "Wait",
      "webhookId": "5eae6004-c3a0-47c2-a370-dec4c607bde9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd2f47a9-4687-4bc5-b7bd-4e904a9b8a8c",
              "leftValue": "={{ $('Get row(s) in sheet').item.json.activo }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        0
      ],
      "id": "519f3af1-8595-42da-93de-6105e646954a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158553487,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=1158553487"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "nombre": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "rol": "admin",
            "activo": "false"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -224
      ],
      "id": "e7ea692c-3fb3-4293-8602-8ca69379890b",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "03c38421-b9f7-4941-a040-427d6f7ac3bc",
              "leftValue": "={{ $json.activo }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        16
      ],
      "id": "f7efeff7-9c13-4fc3-8de7-eb44cbe97aa0",
      "name": "if2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1158553487,
          "mode": "list",
          "cachedResultName": "usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=1158553487"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activo": "true",
            "rol": "admin",
            "nombre": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -1568
      ],
      "id": "b3091c6e-4489-44fb-9571-30451f450914",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -1568
      ],
      "id": "fc8835bd-0d80-444d-9d0b-64046aea072c",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        656
      ],
      "id": "a362808f-db62-42bb-849b-864dd280e275",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1b4cd22-0d87-45e5-8309-81c954df39c8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3e87194-db99-4c45-ad8c-d130c5e79740",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Crearsolicitud",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "086a04c5-b457-4205-8f9a-1259c7130d24",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Consultarestado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74e3e788-9952-4071-81e3-1b5fd110900d",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Missolicitudes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Solicitudes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6bb674ad-9935-44cb-818b-3301d7e6c518",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Reportes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "841e1418-0bdb-47dc-9e99-cc37826dc884",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "Configuracion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Configuracion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5077f6d8-7956-4ba5-8963-19b55b4c97ad",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        720,
        1328
      ],
      "id": "bd899014-1252-47ef-b761-a2e9ec43b100",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c531f979-0e42-43d8-93cb-cc22259945b7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ayuda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "26f13e21-c832-4f69-b27b-fa7fb17f3452",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crear solicitud"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "75794250-90b0-463b-9d93-791377ea0b7c",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar estado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "52c222ca-4322-4466-a1c0-93b866b83583",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mis solicitudes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "65423e6e-2ea4-46cb-ad83-32ea456c8462",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reportes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aed0d31b-0657-47cd-8044-407640ccedf2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Configuracion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a14fe555-e061-4dd7-a66d-5a1dfe9547f9",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1008,
        -784
      ],
      "id": "33733893-a1c8-4385-ab38-50ea05f3b0ba",
      "name": "Switch2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=❓ Ayuda de HelpDeskBot Soy un bot diseñado para organizar tus solicitudes de soporte de forma rápida. Sigue estas instrucciones para interactuar conmigo:  \n¿Cómo usarme?  \nSolo números: Responde enviando el número de la opción deseada. No utilizo lenguaje natural.  Flujo guiado: Para crear tickets, te haré preguntas paso a paso (Tipo → Prioridad → Descripción).  Confirmación: Siempre deberás confirmar los datos antes de que se registren en el sistema.  Menú de Opciones:  Crear solicitud: Soporte técnico, administrativo o consultas.  Estado: Consulta el avance de un ticket específico con su ID.  Mis solicitudes: Historial de tus tickets creados.  Reportes/Configuración: Gestión avanzada según tu rol.  Nota: Solo los usuarios activos registrados pueden generar tickets. Si deseas abortar un proceso, selecciona la opción 9. Cancelar.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -1424
      ],
      "id": "3c9faeb6-2ce5-4d1a-9845-c848ae5d5c00",
      "name": "Send a text message3",
      "webhookId": "3bca3a5b-bb37-44b2-9780-08605ad6d265",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola {{ $('Telegram Trigger').item.json.message.chat.first_name }}, soy HelpDeskBot 👋\nOPCION INVALIDA!!!!!!!!!!!\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        1792
      ],
      "id": "1e77ac3f-704a-4496-8b82-94f6eceec751",
      "name": "Send a text message5",
      "webhookId": "a54983b7-a795-4044-8989-bea7c4ad7968",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2464,
        -1424
      ],
      "id": "450a4fad-cbb7-46a4-998d-ac9eff1e2559",
      "name": "Wait2",
      "webhookId": "e7bf872f-e607-4bb7-b12b-9ad2d3c7a9d3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Bienvenido nuevamente {{ $('Telegram Trigger').item.json.message.chat.first_name }}, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        -1424
      ],
      "id": "75b752a1-90ab-4c9d-9cc6-b17aa98e9501",
      "name": "Send a text message4",
      "webhookId": "d39689b6-7cd4-4c56-86a0-fabe4b5eef78",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ac4d1771-3cb6-4ff8-92b3-420ea5972267",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{ $json.telegram_user }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -400,
        0
      ],
      "id": "62ee4ef6-308c-4bd7-8ff7-72cd64dba741",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "menu",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        -1424
      ],
      "id": "e6f06955-297a-4a70-a8a3-e7b2bbfb72da",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c626965b-96f1-4b8a-a974-6ab4dbf9d2cf",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{ $json.telegram_user }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        816,
        176
      ],
      "id": "988a9359-8db4-4fc2-9f6c-ea1c35bfac76",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "pantalla": "Crearsolicitud",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        -1248
      ],
      "id": "15467c1d-22e2-445e-bcbf-75de19c057eb",
      "name": "Append or update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Vamos a crear una solicitud, para lo cual se necesitará de escoger su tipo.  Selecciona el tipo: \n1. Soporte técnico \n2. Solicitud administrativa\n3. Consulta general \n9. Cancelar\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2432,
        -1248
      ],
      "id": "c384ff45-60a2-4f55-936f-ac78ad87d61e",
      "name": "Send a text message6",
      "webhookId": "3456f536-dd46-455d-ad61-383ecd60f1be",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "^[1-2-3]$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "d1a763aa-884c-4533-8e0e-2c471eebaacd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tipo Solicitud"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "51db87fa-e05e-4b61-bc3a-75c631800a75",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Descripcion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bc757a52-a274-499c-9bd2-6ba31e40f77a",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1728,
        32
      ],
      "id": "fcde436c-5892-4f97-a0a9-bbb4a9ba3ff1",
      "name": "Switch3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Regresando al Menu principal...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2992,
        352
      ],
      "id": "6e07adce-7551-4bcb-8ed7-e801008f6503",
      "name": "Send a text message1",
      "webhookId": "24f732d4-9a82-4447-9c2f-075426b32f5f",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        -256
      ],
      "id": "9463eed4-d031-4a51-a80c-a2c5308a80a1",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Vamos a crear una solicitud, para lo cual se necesitará de escoger su tipo.  Selecciona el tipo: \n1. Soporte técnico \n2. Solicitud administrativa\n3. Consulta general \n9. Cancelar",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2128,
        272
      ],
      "id": "ee55aa90-80da-4c3a-81a7-a6b773957055",
      "name": "Send a text message7",
      "webhookId": "a54983b7-a795-4044-8989-bea7c4ad7968",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "704611ca-33ae-4b46-8f22-a8519eb9808a",
              "leftValue": "={{ $json.resultado }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2832,
        -256
      ],
      "id": "440afcf0-e832-4c03-a81c-b3af68be3877",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4272,
        -1024
      ],
      "id": "17e9eec5-9062-431f-b30d-7a8a66a62f6a",
      "name": "Wait4",
      "webhookId": "be62b37c-6298-425f-90d6-28ee24c08607"
    },
    {
      "parameters": {
        "content": "INICIO SESION",
        "height": 528,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -272
      ],
      "typeVersion": 1,
      "id": "037f8d69-bf39-4140-b6a3-f8a3668c3630",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "CREAR USUARIO",
        "height": 272,
        "width": 900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -1648
      ],
      "typeVersion": 1,
      "id": "3c37fe8e-545f-40d6-b5e7-91334f934446",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec202753-d65a-4862-a0db-0ed262df390b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Soporte técnico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3391f2d2-b41e-49d4-bd04-a6c14cd4ca1c",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Solicitud administrativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a244ad9-f3da-4eb2-bf12-759f4bdb0455",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consulta general"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fa405b17-0cd6-49f0-9998-e14ad7374cc9",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4480,
        -1040
      ],
      "id": "c0beb5f9-253b-44f3-a59b-ee2cf1ef1733",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "Soporte tecnico",
            "id_ticket": "={{ $executionId }}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4704,
        -1328
      ],
      "id": "83f6d2b9-9c71-48cf-8e45-79c9a62aeb1e",
      "name": "Append or update row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "Solicitud administrativa",
            "id_ticket": "={{ $executionId }}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4688,
        -1056
      ],
      "id": "e873168a-835d-423e-a629-fa55fdc3dd44",
      "name": "Append or update row in sheet8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "Consulta general",
            "id_ticket": "={{ $executionId }}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4688,
        -864
      ],
      "id": "a5f39fa1-cd46-4ed4-80ee-d7f1a680cf4f",
      "name": "Append or update row in sheet9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5056,
        -1040
      ],
      "id": "9ba7f5ef-300c-4b38-a684-e109e30003fa",
      "name": "Wait5",
      "webhookId": "c05fc347-074b-451e-b2cf-adb79b34c7e1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Ingresa el tipo de prioridad en opcion numerica\n1. Alta\n2. Media\n3. Baja",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5472,
        -1040
      ],
      "id": "d259cf2f-5970-4297-8d5a-ca25a8ffb781",
      "name": "Send a text message2",
      "webhookId": "5e1c12aa-6100-46f3-926a-92cf2bc89e71",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "={{ $('Get row(s) in sheet2').item.json.pantalla }}",
            "opcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "resultado": "Asignarprioridad"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5264,
        -1040
      ],
      "id": "c6846cbe-1712-40fb-910d-c2e569fd2ae6",
      "name": "Append or update row in sheet10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        -1568
      ],
      "id": "2617f1b6-e87f-4877-a91f-deb741f3cbcb",
      "name": "Wait1",
      "webhookId": "ea425912-277a-481d-a60a-c29967174131"
    },
    {
      "parameters": {
        "content": "### Asignar Prioridad",
        "height": 576,
        "width": 1504,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4432,
        -1328
      ],
      "typeVersion": 1,
      "id": "59d5296f-30ed-4ee3-9644-83f7462ec8f3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3152,
        -96
      ],
      "id": "66296a6e-bb13-4375-8815-9e40bf887d02",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.resultado }}",
                    "rightValue": "Asignarprioridad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7040d764-6f48-49fd-bd7d-cde33021cf7b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prioridad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b97fd675-f993-409d-98b4-b1adbd2a92e7",
                    "leftValue": "={{ $('If').item.json.resultado }}",
                    "rightValue": "Asignardescripcion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Descripcion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3808,
        96
      ],
      "id": "4e901c29-208f-4c0b-ba19-488361f0e7eb",
      "name": "Switch4"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4272,
        -272
      ],
      "id": "b9cebf59-8687-4fab-b13a-24ab725b140c",
      "name": "Wait6",
      "webhookId": "4d3ae4e2-2f37-42a5-9f0d-47634f76680c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f522133-6f10-4f5c-a610-6cbb71ac6c45"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1637b1c5-c51e-461a-b0c4-59f80b289b0a",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Media"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "208942f1-d778-4887-ab23-e73e24bdb566",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Baja"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4448,
        -384
      ],
      "id": "36d7f9bf-c2e7-4347-ae77-0e591bc26412",
      "name": "Switch5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet3').item.json.id_ticket }}",
            "tipo": "={{ $('Switch4').item.json.tipo }}",
            "prioridad": "Alta"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4720,
        -560
      ],
      "id": "efba3806-1230-40aa-b6df-580a77cbc005",
      "name": "Append or update row in sheet11",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet3').item.json.id_ticket }}",
            "tipo": "={{ $('Switch4').item.json.tipo }}",
            "prioridad": "Media"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4736,
        -368
      ],
      "id": "f3a598a0-99b6-4d86-b643-21712729ee54",
      "name": "Append or update row in sheet12",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet3').item.json.id_ticket }}",
            "tipo": "={{ $('Switch4').item.json.tipo }}",
            "prioridad": "Baja"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4736,
        -192
      ],
      "id": "2c9be53b-2eeb-45d9-b00a-650cc4ac7486",
      "name": "Append or update row in sheet13",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5296,
        -368
      ],
      "id": "e8ffc9fa-8100-4d55-af2d-4e1f98abcce6",
      "name": "Wait7",
      "webhookId": "67849424-08e3-4019-bfba-23ff0025afa7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Get row(s) in sheet2').item.json.telegram_user }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "={{ $('Get row(s) in sheet2').item.json.pantalla }}",
            "opcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "resultado": "Asignardescripcion"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5504,
        -368
      ],
      "id": "f963133d-f7a3-470b-a87e-78797362e5cf",
      "name": "Append or update row in sheet14",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Ingrese la descripción del ticket:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5712,
        -368
      ],
      "id": "d890b31f-5501-4de8-bff4-6ce82694ddbb",
      "name": "Send a text message8",
      "webhookId": "d56966a7-b848-44d7-bcdf-1c05c13f3f73",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4176,
        176
      ],
      "id": "b86ea7c6-0ba4-4941-82b1-0759b7da133d",
      "name": "Wait8",
      "webhookId": "794f5690-c48b-4fee-a2db-eebf330401f5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Get row(s) in sheet3').item.json.id_ticket }}",
            "descripcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "estado": "Pendiente",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "fecha_creacion": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4384,
        176
      ],
      "id": "d922a34e-f30c-4de2-902e-d61ed885a969",
      "name": "Append or update row in sheet15",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        176
      ],
      "id": "98cd8098-6162-4970-96fc-845d2ff87f40",
      "name": "Wait9",
      "webhookId": "cabe6033-1825-4be6-8a7f-9219caa5ae3a"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "pantalla": "={{ $('Get row(s) in sheet2').item.json.pantalla }}",
            "resultado": "Creadoticket"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4768,
        176
      ],
      "id": "3e2340a3-e90d-4db9-9230-05a5457d86db",
      "name": "Append or update row in sheet16",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Ticket creado exitosamente :)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4960,
        160
      ],
      "id": "149f295e-4cde-445b-8654-dbfd7fc4dde1",
      "name": "Send a text message9",
      "webhookId": "27542a2d-6914-4dc2-b0b8-617e4e376de5",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Bienvenido de nuevo {{ $('Telegram Trigger').item.json.message.chat.first_name }}, \n\nINGRESA UNA OPCION VALIDA!!!!  \nPor favor escribe el número de la opción que quieras usar.  \nMenú principal: \n0. Ayuda \n1. Crear solicitud \n2. Consultar estado de solicitud \n3. Mis solicitudes \n4. Reportes \n5. Configuración",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        -160
      ],
      "id": "8cacc2b1-8fca-497e-96fb-94a05969fc0b",
      "name": "Send a text message10",
      "webhookId": "b10a3af3-e506-4cce-9770-c99c872cbe83",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5873480b-4921-47bd-88f6-e40616aeea6d",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{ $json.telegram_user }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1424,
        -1328
      ],
      "id": "fe160486-aa99-4e6a-a8a8-248304d8f38d",
      "name": "Filter2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1089ac52-b089-4256-ac0a-ad5cbad413fd",
              "leftValue": "={{ $json.telegram_user }}",
              "rightValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        3568,
        -752
      ],
      "id": "baf2d467-5a94-44c2-b7e8-7a5e54ffcb85",
      "name": "Filter3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30929fb1-bcde-453a-af46-76558537c931",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{ $('Get row(s) in sheet2').item.json.telegram_user }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        4016,
        -176
      ],
      "id": "3f92120b-0166-4d5f-83ea-0f48d3a3c36d",
      "name": "Filter4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3152891b-4688-483d-8805-7c87745b89fd",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{ $('If').item.json.telegram_user }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        4000,
        192
      ],
      "id": "ae64ea24-dc81-4d7a-8d59-f8631d840256",
      "name": "Filter5"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2352,
        -48
      ],
      "id": "55ebd331-a3f9-43be-9622-1cb0955fe366",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        -1200
      ],
      "id": "db03948c-00ce-4bfc-9931-4f8f57c9ede4",
      "name": "espera",
      "webhookId": "fe35572f-390f-4c8c-ab8b-927256549c8f"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        -1040
      ],
      "id": "2ef19c51-ba56-40d5-b357-0007b7239684",
      "name": "Wait10",
      "webhookId": "ea99f97e-ce41-43da-aafc-199a84944cab"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "opcion": "=",
            "resultado": "=",
            "pantalla": "Consultarestado"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        -1056
      ],
      "id": "aa11ac29-8917-4ba0-813b-ea4df8070349",
      "name": "Append or update row in sheet17",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Listar de estados.\nIndica la opcion de forma numerica.\n1. Ver estados\n2. Volver al menu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        -1056
      ],
      "id": "7ee8abc4-367f-447f-9c1e-1b3e008e652b",
      "name": "Send a text message13",
      "webhookId": "add3f71b-f7b6-4e7f-b6e7-5115f528f5c2",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        -864
      ],
      "id": "58f5c230-fe8d-4d3d-9623-ae165b2713bb",
      "name": "Wait11",
      "webhookId": "55c4301e-e1d8-4267-a03d-1f1599244c1e"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "opcion": "=",
            "resultado": "=",
            "pantalla": "Missolicitudes"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        -864
      ],
      "id": "aef15294-2f78-414e-82e9-8c8e76c9923c",
      "name": "Append or update row in sheet19",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Listar solicitudes.\nIndica la opcion de forma numerica.\n1. Ver solicitudes\n2. Volver al menu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        -864
      ],
      "id": "f81a8ab1-b099-4dcf-b149-e913dee2173d",
      "name": "Send a text message16",
      "webhookId": "67ec9457-f76f-48ed-892c-47bcca45ecc8",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        1424
      ],
      "id": "32df44ed-9e8b-4c19-95e5-0b1f51d5e7f5",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        -656
      ],
      "id": "33107f7c-f68c-4331-910b-cb335e30ac7f",
      "name": "Wait3",
      "webhookId": "0aa0ca6a-debf-4f64-91c5-b276b5edbe44"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "opcion": "=",
            "resultado": "=",
            "pantalla": "Reportes"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        -640
      ],
      "id": "515578ab-6f11-4259-ad62-6624e13e26a0",
      "name": "Append or update row in sheet20",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4992,
        -512
      ],
      "id": "8282921e-1b6f-4e74-a1d5-2d17e4db4e08",
      "name": "Limit1"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3456,
        -32
      ],
      "id": "b56f1d04-edd0-4f44-88d9-4f5821683a4a",
      "name": "Limit2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Desea ver los Reportes:\nIndica la opcion de forma numerica.\n1. Ver reportes\n2. Volver al menu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        -640
      ],
      "id": "17c9054d-8f23-44ba-b652-bf09f97dfe25",
      "name": "Send a text message18",
      "webhookId": "5428901e-4a9b-4722-a473-812b82448aae",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d947d448-965d-4580-9f6e-8ce12c7c3ce3",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1664,
        1392
      ],
      "id": "4eda8220-c08e-4682-9eaa-0eef1c769a31",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Reporte general de solicitudes \n------------------------------------------\nUltimo Movimiento:\nID: {{ $json.id_ticket }}\nTipo: {{ $json.tipo }}\nPrioridad: {{ $json.prioridad }}\nDescripcion: {{ $json.descripcion }}\nEstado: {{ $json.estado }}\nCreado por: {{ $json.creado_por }}\nFecha de creacion: {{ $json.fecha_creacion }}\n\nIngrese Menu o alguna palabra para regresar al inicio.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2112,
        1312
      ],
      "id": "72fbd86c-c7b5-4dc5-aa70-aab9e771c884",
      "name": "Send a text message19",
      "webhookId": "027fb7db-6f70-4c48-b180-b00cd32e72fb",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1376,
        1440
      ],
      "id": "b3267c55-8c59-4119-b550-84eee3b3e639",
      "name": "Limit3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1056
      ],
      "id": "6739125c-4ab3-4e33-9b5c-f8b0690d33fe",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7375443-dbfa-4767-bb4d-69203ce10f1d",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        928
      ],
      "id": "a5e5a7fb-ba5e-4e46-b4e8-94db66b6b66a",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "pantalla": "menu",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        1360
      ],
      "id": "ae2cc4e0-74f5-42d6-bc8b-29193f197a99",
      "name": "Append or update row in sheet21",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "pantalla": "menu",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        880
      ],
      "id": "b988d0cb-b670-4153-82a8-8bed5de45b43",
      "name": "Append or update row in sheet22",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Estado de Solicitudes\n-----------------------------------------\n{{ $('Get row(s) in sheet4').all().map(item => \n`Id ticket: ${item.json.id_ticket}\nTipo: ${item.json.tipo}\nEstado: ${item.json.estado}`\n).join('\\n-----------------------------------------\\n') }}\n\nIngrese Menu o alguna palabra para regresar al inicio.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1968,
        944
      ],
      "id": "ca183679-5a3c-4b10-9e76-61cf6302ba01",
      "name": "Send a text message20",
      "webhookId": "027fb7db-6f70-4c48-b180-b00cd32e72fb",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138109039,
          "mode": "list",
          "cachedResultName": "solicitudes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=138109039"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        1248
      ],
      "id": "ab660275-489c-4e4c-bce8-d431f271b320",
      "name": "Get row(s) in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": "={{ 1 }}",
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1408,
        1248
      ],
      "id": "ad1ceb3e-6417-4c40-a5ba-84c58bdf189c",
      "name": "Limit5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f15096ad-3ee6-4fbd-b6d0-38babb8c04f6",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        1120
      ],
      "id": "00ead8df-9c08-4fd0-ab3d-3eec318e7e18",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "pantalla": "menu",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        1104
      ],
      "id": "2f0e7b04-b16e-4f46-b8cc-f049f35031d8",
      "name": "Append or update row in sheet23",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Solicitudes\n------------------------------------------\n{{ $('Get row(s) in sheet6').all().map(fila => \n`ID: ${fila.json.id_ticket}\nTipo: ${fila.json.tipo}\nPrioridad: ${fila.json.prioridad}\nDescripción: ${fila.json.descripcion}\nEstado: ${fila.json.estado}\nCreado por: ${fila.json.creado_por}\nFecha: ${fila.json.fecha_creacion}`\n).join('\\n\\n------------------------------------------\\n') }}\n\nIngrese Menu o alguna palabra para regresar al inicio.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        1136
      ],
      "id": "84f763f1-081b-42f7-b863-23f53c522d66",
      "name": "Send a text message21",
      "webhookId": "027fb7db-6f70-4c48-b180-b00cd32e72fb",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚙️ PANEL DE CONFIGURACIÓN DEL SISTEMA Estado del Servicio: Conectado / Operativo Última Sincronización: Exitosa  Preferencias de Notificación:  Alertas críticas por mensaje directo.  Resumen diario de actividades.  Reportes de error activados.\nIngrese Menu o alguna palabra para regresar al inicio.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        1568
      ],
      "id": "9acfbf69-7ac5-4dc0-ad9f-6ae6394da0c8",
      "name": "Send a text message14",
      "webhookId": "899557fd-11d8-43ce-9a58-2b421a3ac911",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        -480
      ],
      "id": "5411a30e-0f7f-4f55-8df7-950ef73e3156",
      "name": "Wait12",
      "webhookId": "0aa0ca6a-debf-4f64-91c5-b276b5edbe44"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "opcion": "=",
            "resultado": "=",
            "pantalla": "Configuracion"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        -464
      ],
      "id": "500030d1-881d-4999-8beb-344c780568ca",
      "name": "Append or update row in sheet24",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Desea ver los Reportes:\nIndica la opcion de forma numerica.\n1. Ver Configuraciones\n2. Volver al menu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        -464
      ],
      "id": "f3c2558b-9382-4356-90f0-85da6c734af8",
      "name": "Send a text message22",
      "webhookId": "5428901e-4a9b-4722-a473-812b82448aae",
      "credentials": {
        "telegramApi": {
          "id": "USeWWgWHgxUA8DaI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0406b237-cd04-4e80-9c92-e42a022e074c",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        1552
      ],
      "id": "61d9b802-9d59-41aa-9c98-57bf8eecee17",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ",
          "mode": "list",
          "cachedResultName": "HelpDeskBotDB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vv3YlIqjAJsf30JyptDD5fr3kPWuy2Qb1jAdcdIwrnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "pantalla": "menu",
            "opcion": "=",
            "resultado": "="
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        1568
      ],
      "id": "2dec7e3d-792d-4a1d-8786-ab00094d007f",
      "name": "Append or update row in sheet25",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "InBm1IndLATefIb0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 1216,
        "width": 2448,
        "color": "#581919"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        800
      ],
      "typeVersion": 1,
      "id": "a3649a07-6141-413d-bf06-e46652e60cca",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "maxItems": "={{ 1 }}",
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1424,
        976
      ],
      "id": "93c06626-a62f-4b21-8411-c5ff874ea0ce",
      "name": "Limit4"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "if2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        []
      ]
    },
    "Send a text message4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet7": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet8": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet9": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Append or update row in sheet10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet10": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Append or update row in sheet11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet11": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet12": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet13": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Append or update row in sheet14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet14": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Append or update row in sheet15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet15": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "Append or update row in sheet16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet16": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message9": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera": {
      "main": [
        [
          {
            "node": "Append or update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "Send a text message13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet17": {
      "main": [
        []
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "Append or update row in sheet19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet19": {
      "main": [
        [
          {
            "node": "Send a text message16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message16": {
      "main": [
        []
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet20": {
      "main": [
        [
          {
            "node": "Send a text message18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet21",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message19": {
      "main": [
        []
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message13": {
      "main": [
        [
          {
            "node": "Append or update row in sheet17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet21": {
      "main": [
        [
          {
            "node": "Send a text message19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet22": {
      "main": [
        [
          {
            "node": "Send a text message20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet6": {
      "main": [
        [
          {
            "node": "Limit5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit5": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Append or update row in sheet23",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet23": {
      "main": [
        [
          {
            "node": "Send a text message21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "Append or update row in sheet24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet24": {
      "main": [
        [
          {
            "node": "Send a text message22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send a text message14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message14": {
      "main": [
        [
          {
            "node": "Append or update row in sheet25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "43486569-b828-4219-835c-2ad284cef1a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e09c76421fdd95e03893b2b418c491cf8b8a4f38e58c627abef176a828ea5b9d"
  },
  "id": "q5kltxnS8v4ybIu5",
  "tags": []
}